.header .tagline {
    font: 16px 'Exo2-Bold', sans-serif;
    text-align: left;
}
.header .tagline span {
    display: block;
}

.header .lvl1  {
    padding-bottom: 0;
}
.header .lvl1 .col1 {
    margin-right: 1%;
}

.header-block .lvl1 .inner {
    text-align: justify;
    font-size: 0;
}

.header-block .lvl1 .inner > div {
    font-size: 14px;
}
.header-block .lvl1 .inner::after {
    content: '';
    display: inline-block;
    width: 100%;
    font-size: 0;
}

.header .lvl1 .col4 .btn {
    margin-right: 0;
}

.header .lvl2 .col1>ul>li {
    font-size: 14px;
}

.header .lvl1 .col4  {
    margin: 0 10px;
    vertical-align: middle;
}
.header .lvl1 .col4 .btn {
    margin-left: 6px;
}

.header .lvl1 .col4.link-phone {
    margin-left: 38px;
}
.header .lvl1 .col4.link-phone:before {
    top: 50%;
    transform: translateY(-50%);
}
.header .lvl1 .col4.link-phone a {
    display: block;
    font-size: 16px;
}

.header .lvl1 .col3 {
    margin: 0 4px;
}

.header .lvl1 .col5  {
    display: inline-block;
    vertical-align: middle;
}

.header .lvl1 .col5 .btn {
    margin: 0 !important;
}
.header .lvl1 .col-layout {
    display: inline-block;
    white-space: nowrap;
}

@media screen and (max-width: 1169px) and (min-width: 961px) {
    .header .lvl1 .col4 {
        float: none;
    }
}

@media screen and (max-width: 1121px) {
    .header .lvl1 .col4 {
        float: none;
        margin-top: 0 !important;
    }
    .header .lvl1 .col4.link-phone {
        position: absolute;
        right: 172px;
        top: -12px;
    }

    .header .lvl1 .col3 {
        margin: 0;
        position: absolute;
        right: 21px;
        top: -12px;
    }

    .header .lvl1 .col4.link-phone a {
        display: inline-block;
        font-size: 14px;
    }

    .header .lvl1 .link-email {
        position: relative !important;
        right: 0;
    }

    .link-phone {
        font-size: 14px;
    }
}


@media screen and (max-width: 750px) {
    .header .lvl1 .col2 {
        display: none;
    }
}
@media screen and (max-width: 690px) {
    .header .lvl1 .col-layout {
        text-align: right;
    }

    .header .lvl1 .col4.link-phone {
        position: relative;
        display: block;
        right: 0;
        top: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header .lvl1 .col1 {
        width: auto;
    }
}
@media screen and (max-width: 610px) {

    .header .lvl1 .col3 {
        right: 12px;
        top: -7px;
    }
    .header .lvl1 .col3 {
        top: -13px;
    }
}

@media screen and (max-width: 540px) {
    .header .lvl1 .link-email {
         top: 0;
    }
    .header .lvl1 .col1 img {
        height: auto;
    }

    .header .lvl1 .col4.link-phone {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 11px;
    }

    .header .lvl1 .col-layout {
        display: block;
        width: 100%;
    }

    .header .lvl1 .col5 {
        display: block;
        width: 100%;
    }

    .header .lvl1 .col5 .btn {
        width: 100%;
    }


    .header .lvl1 .col4.link-phone a {
        display: block;
    }

    .header .lvl1 .col3 {
        right: 11px;
        top: -15px;
    }

    .header .lvl1 .col1 {
        position: relative;
        top: -9px;
    }
}

@media screen and (max-width: 430px) {
    .header .lvl1 .col4.link-phone {
        text-align: left;
        /*max-width: 130px;*/
        white-space: normal;
        margin-bottom: 6px;
    }

}


/*vacancy*/
.vacancy-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.vacancy-item {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.vacancy-card {
    border: 1px solid #d7d7d7;
    font: 14px 'Exo2-Regular', sans-serif;
    position: relative;
    transition: all .1s ease-out;
}

.vacancy-card:hover .vacancy-card__name {
    color: #ff6600;
    transition: all .1s ease-out;
}
.vacancy-card:hover {
    border-color: #ff6600;
    transition: all .1s ease-out;
}

.vacancy-card__header {
    padding: 18px 23px;
    position: relative;
    cursor: pointer;
}

.vacancy-card__name {
    margin-bottom: 5px;
    font-size: 21px;
}

.vacancy-card__wage {
    text-transform: uppercase;
    font-size: 16px;
}

.vacancy-card-more {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    font-size: 14px;
    color: #454545;
}
.vacancy-card-more.is-show .icon-drop-down {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.vacancy-card-more__text{
    display: inline-block;
    margin-right: 10px;
}


.vacancy-card-more .icon-drop-down {
    padding: 8px 11px;
    background-color: #f2f2f2;
    border-radius: 4px;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vacancy-card__body {
    display: none;
    padding: 0 23px 18px;
}

.vacancy-card__body .desc {
    margin-bottom: 20px;
}

.vacancy-banner {
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}

.vacancy-banner::after {
    content: '';
    clear: both;
    display: block;
}

.vacancy-banner__img {
    width: 104px;
    height: 64px;
    position: relative;
    overflow: hidden;
    float: left;
}
.vacancy-banner__img img {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.vacancy-banner__body {
    /*float: left;*/
    padding: 13px;
    width: 88%;
    display: table;
}
.vacancy-banner__body::after {
    content: '';
    display: block;
    clear: both;
}


.vacancy-banner__item {
    /*float: left;*/
    display: table-cell;
    vertical-align: middle;
}

.vacancy-banner__title {
    font-size: 15px;
    width: 32%;
    text-transform: uppercase;
    font-weight: 700;
}

.vacancy-banner__text {
    font-size: 15px;
    font-style: italic;
    width: 40%;
}

.vacancy-banner__application {
    float: right;
}

.vacancy-banner__btn {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 24px;
    background-color: #e8e8e8;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font: 15px 'Exo2-Regular', sans-serif;
}














